<%= form_for [:admin, @event_handler],
             html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Имя</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Описание</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-controls">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %>
