<div class="well col-md-4 col-md-offset-4">
  <h3 class="text-center">Вход</h3>

  <%= form_for :session, url: admin_login_path,
               html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <label class="col-md-4 control-label">
        <strong>Логин</strong>
      </label>

      <div class="col-md-8">
        <%= f.text_field :login, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">
        <strong>Пароль</strong>
      </label>

      <div class="col-md-8">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="text-center form-actions">
      <%= f.submit 'Войти', class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>
