<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Напоминаем, что <%= @event.name %> состоится сегодня.</p>
  </body>
</html>