<div class="row">
  <div class="col-md-4">
    <%= render 'shared/event_search_form' %>

    <%= link_to 'Подписаться на рассылку о ближайших мероприятиях', subscribe_path %>
  </div>

  <div class="col-md-8">
    <div class="page-header">
      <h1>Мероприятия</h1>
    </div>

    <%= render partial: 'shared/events_list', locals: { events: @events } %>

    <%= will_paginate @events,
                      renderer: BootstrapPagination::Rails,
                      previous_label: 'Назад',
                      next_label: 'Далее'
    %>

  </div>
</div>
