<div class="page-header">
  <h1>Организаторы</h1>
</div>

<div class="list-group">
  <% @event_handlers.each do |event_handler| %>
    <%= link_to event_handler_path(event_handler), class: 'list-group-item' do %>
      <h4 class="list-group-item-heading">
        <%= event_handler.name %>
      </h4>

      <p class="list-group-item-text"><%= event_handler.description %></p>
    <% end %>
  <% end %>
</div>

<%= will_paginate @event_handlers,
                  renderer: BootstrapPagination::Rails,
                  previous_label: 'Назад',
                  next_label: 'Далее'
%>