<div class="block">
  <div class="block-title">
    <h2>
      <strong><%= @event_handler.name %></strong>
    </h2>
  </div>

  <p><%= @event_handler.description %></p>

  <div class="block">
    <div class="block-title">
      <h3>Организованные мероприятия</h3>
    </div>

    <%= render partial: 'shared/events_list',
               locals: { events: @events } %>
  </div>

</div>
